#one {
    background: url("/static/img/one.jpg") center no-repeat;
}

#two {
    background: url("/static/img/one.jpg") center no-repeat;
}

#three {
    background: url("/static/img/one.jpg") center no-repeat;
}

#four {
    background: url("/static/img/one.jpg") center no-repeat;
}

#five {
    background: url("/static/img/one.jpg") center no-repeat;
}

#six {
    background: url("/static/img/one.jpg") center no-repeat;
}
