
  {% load static %}
{% block style %}
<style type="text/css">
* {
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0px;
  padding: 0px;
  background: url(14.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.topnav {
  background-color: black;
  overflow: hidden;
  padding-right: 80px;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 18px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 0.5px;
}

.topnav a:hover {
  background-color: rgb(246, 176, 255);
  color: black;
}

.topnav a.active {
  background-color: #b20cb8;
  color: white;
}

.heading {
  margin-top: 200px;
  text-align: center;
}

.heading img {
  width: 500px;
  height: 300px;
}

.container {
  width: 450px;
<!--  /* height: 500px; */-->
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #191919;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 50px 50px;
}
.container h1 {
  color: white;
  font-weight: 500;
}
.container input[type="text"],
.container input[type="password"],
.container input[type="number"],
.container input[type="email"] {
  border: 0;
  background: none;
<!--  display: block;-->
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  font-size: 16px;
  border-radius: 24px;
  transition: 0.25s;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container input[type="text"]:focus,
.container input[type="password"]:focus,
.container input[type="number"]:focus,
.container input[type="email"]:focus {
  width: 280px;
  border-color: #e43f9f;
}
.container input[type="submit"],
button {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #e43f9f;
  padding: 14px 25px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  font-size: 18px;
  font-family: "Libre Baskerville", serif;
}
.container input[type="submit"]:hover, button:hover {
  background: #b20cb8;
}

/* contactus css */
.contact {
  position: relative;
  /* min-height: 100vh; */
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(connta.jpg);
  background-size: cover;
}
.contact .content {
  max-width: 800px;
  text-align: center;
}
.contact .content h2 {
  font-size: 40px;
  font-weight: bold;
  color: black;
}
.contact .content p {
  font-weight: 300;
  color: #fff;
}
.container1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.container1 .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.container1 .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.container1 .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.container1 .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: black;
  flex-direction: column;
  font-weight: 300;
}
.container1 .contactInfo .box .text h3 {
  font-weight: bold;
  color: black;
  font-family: sans-serif;
}

</style>
{% endblock %}

{% block content %}
<body style="background-image: url('{% static 'img/14.jpg' %}');">
  <div class="topnav">
    <a href="{% url 'contactus' %}"> Contact Us </a>
    <a class="active" href="#"> Register </a>
    <a href="{% url 'login' %}"> Sign In </a>
    <a href="{% url 'homepage' %}"> Home </a>
  </div>


   <form class="container" method = 'POST' action= '' enctype = "multipart/form-data" >
        {% csrf_token %}
        <h1>SIGN UP</h1>
        <div style="color: white;">
        {{form.as_p }}
        </div>
        <input  type="submit" value="Sign UP"> </input>
        <br>
        {% if title == "Login" %}<h5 style="color:white;">Not Registered? <a href = "/register/register">Register Here</a></h5>{% endif %}
        {% if title == "Register" %}<h5 style="color:white;">Already Registered? <a href = "/login/login">Login Here</a></h5>{% endif %}
      </form>
{% endblock %}


</body>