#k {
    background: url("/static/img/k.jpg") center no-repeat;
}

#v {
    background: url("/static/img/v.jpg") center no-repeat;
}

#l {
    background: url("/static/img/l.jpg_fit=scale.jpeg") center no-repeat;
}

#n {
    background: url("/static/img/n.jpg") center no-repeat;
}

#a {
    background: url("/static/img/a.jpeg") center no-repeat;
}

#p {
    background: url("/static/img/p.jpg") center no-repeat;
}
