#wr {
    background: url("/static/img/fwr.jpg") center no-repeat;
}

#ta {
    background: url("/static/img/ta.jpg") center no-repeat;
}

#fs {
    background: url("/static/img/fs.jpg") center no-repeat;
}

#yc {
    background: url("/static/img/yc.jpg") center no-repeat;
}

#dw {
    background: url("/static/img/dw.jpg") center no-repeat;
}

#cs {
    background: url("/static/img/cs.jpg") center no-repeat;
}
