<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Vibrant Living</title>
  <link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/recipe_a.css' %}">
</head>
<body>

  <div class="topnav">
    <!-- <a href="contactus.html"> Contact Us </a> -->
    <a href="{% url 'contactus' %}"> Contact Us </a>
    <a href="{% url 'register' %}"> Register </a>
    <a href="{% url 'login' %}"> Sign In </a>
    <a href="{% url 'homepage' %}"> Home </a>

  </div>

  <div class="container">
    <div class="row mt-3">
      <div class="col-12 text-center">
        <h1>ABOUT US</h1>
      </div>
      <div class="col-8 offset-2">
        <h2>Vibrant Living is a revolutionary health and fitness application that is on a mission to transform a billion lives!</h2>
        <p>The application directs the way to tell how people stay fit, eat clean, and build a lasting healthy lifestyle.
           We all have different bodies and fitness goals, and the "one plan for all" cannot be applied in this case.
          So eating the right food plays a vital role in achieving your goals and maintaining your fitness.
          You can choose right option to get a vegetarian, non-vegetarian, protein-rich, carbs-rich or any type of diet plans.
          Basically we call it as home-workout application also which is no less than a boon for those who find it difficult to spare time for visiting a gym or fitness club, but want to maintain a fit lifestyle.</p>
          <h3>The main objective of our application is</h3>

          <ul>
              <li>Easily keep track of your progress</li>
              <li>Get free workout ideas.</li>
              <li>Set goals that you can achieve.</li>
              <li>Monitor your diet everyday and choose the best diet plans where you enjoy every food with interesting recipies.</li>
          </ul>
          <h3>Our main motive is start something which you don't regret and enjoy until the end of it.</h3>
          <p>"The cheerful mind perseveres, and the strong mind hews its way through a thousand difficulties."</p>
          <p>"the best and most efficient pharmacy is within you own system"</p>
          <p>"Health is like money,we never have a true idea of its value until we lose it."</p>
          <p style="font-family: 'Pattaya', sans-serif; font-size: 24px;">Vibrant Living is on a constant lookout for individuals with a similar vision to shape the health and fitness space. If you are one of them, register and become a family of Vibrant Living.</p>

      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>
