#mc{
    background: url("/static/img/fr1.jpg") center no-repeat;
}
#pc{
    background: url("/static/img/fr2.jpg") center no-repeat;
}
#gs{
    background: url("/static/img/fr3.jpg") center no-repeat;
}
#bs{
    background: url("/static/img/fr4.jpg") center no-repeat;
}
#ns{
    background: url("/static/img/fr5.jpg") center no-repeat;
}
#vp{
    background: url("/static/img/fr6.jpg") center no-repeat;
}
